

*{
  /* background: url('../Images/bg-image.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center; */

}
/* body{
  background-color: black;
} */
.main {
  padding: 10px;
  height: 100vh;
}

.layout {
  display: flex;
}

.sidebar {
  min-height: 100vh;
  width: 150px;
  border-radius: 5px;
  background-color: rgb(33, 14, 14);
  /* box-shadow: 0 0 2px gray; */
  margin-right: 20px;
  color: white;
  display: flex;
  flex-direction: column; /* Keep this for vertical stacking */
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  border: transparent;
}

.nav-header a {
  margin: 0 10px;
  text-decoration: none;
  background-color: #fff;
  font-size: 20px;
  position: relative;
  color: black;
}

.nav-header .right-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;;
}

.nav-header a:hover{
  color: green;
  
}
.nav-header .right-items a {
  margin-right: 15px;
}

.nav .nav-item{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 
.nav-header .right-items .bell-icon {
  margin-top:4px;
  margin-right: 15px;
  color: black;
  font-size: 30px;
  
}

.nav-header .right-items .username {
  margin-top:10px;
  margin-right: 5px;
  font-size: 20px;
  text-transform: capitalize;
  
}


.content {
  width: 100%;
  height: 100%;
}

.menu {
  margin-top: 50px;
}

.menu-item {
  margin-top: 30px;
  font-size: 15px;
}

.menu-item a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-item:hover {
  color: red;
}

.menu-item i {
  font-size: 1.2rem;
  margin: 0 15px;
}

.active {
  background-color: white;
  padding: 10px;
}

.active a,
.active i {
  color: rgb(51, 1, 1);
}

.header {
  height: 10vh;
  margin-bottom: 20px;
  background-color: white;
}

.body {
  height: 85vh;
  margin-bottom: 20px;
  background-color: white;
}

.logo h6 {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0px;
}

.header-content {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: flex-end;
  margin: 0 15px;
}

.header-content i {
  margin-right: 20px;
  font-size: 1.2rem;
}

.header-content a {
  text-decoration: none;
  font-size: 1.2rem;
  color: blue;
  margin: 0 10px;
  text-transform: uppercase;
}


.material-symbols-outlined{
  font-size: 35px;
}